*{
    margin: 0;
    padding: 0;
}

.bg-top {
    background-image: url("./img/bg-home.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}


.overlay {
    position: relative;
    background: #000000ab
}

.hello {
    font-size: 150px;
    font-family: 'Poppins';
    color: #00ADB5;
}

.social-seguir {
    color: #EEEEEE; 
    transform: rotate(90deg);
}

.vertical-line {
    width: 192px;
    height: 0px;
    border: 2px solid #00ADB5;
    /* Inside auto layout */
}

.apresentacao {
    color: #EEEEEE;
}
.apresentacao i, span{
    color: #202020;
}

.apresentacao i:hover{
    color: #00ADB5;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color:#00ADB5;
}
.btn-outline-success{
    border-color: #00ADB5;
}
.btn-outline-success:hover {
    color: #ffffff;
    background-color: #fcfcfcb2;
    border-color: #035f64;
    transition: 1s;
}
.skills_bg {
    background-image: url(./img/maxresdefault.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}
